<%- include('../partials/header') %>

<div class="about-container">

       <h1 class="about-header">About</h1>
       <p class="about-text">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. 
           Obcaecati, atque suscipit quas laboriosam est eum illo 
           autem excepturi temporibus quo eveniet quisquam mollitia, 
           nobis adipisci nesciunt voluptatum, doloremque ea esse.
       </p>
</div>







<%- include('../partials/footer') %>
